.wrapper {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: -20px;
  transform: rotate(0deg);
  padding-left: 8rem;
}

.card {
  width: 300px !important;
  height: 300px !important;
  border-radius: 60px !important;
  object-fit: cover !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
  transform-origin: center center !important;
  outline: 15px solid #fff !important;
  margin-left: -8rem !important;
  opacity: 1 !important;
}

/* Static rotations */
.card-1 {
  transform: rotate(-10deg);
}
.card-2 {
  transform: rotate(-5deg);
}
.card-3 {
  transform: rotate(0deg);
}
.card-4 {
  transform: rotate(5deg);
}
.card-5 {
  transform: rotate(10deg);
}
